*, ::before, ::after {
    list-style-type: none;
    text-decoration:none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

#sitetop {
    background-color: rgba(255, 127, 127, 0.75);
    padding: 20px 0;
    text-align: center;
}

#sitename {
    font: normal bold 30px/1.5 'TsukuBRdGothic-Regular', 'TsukuARdGothic-Regular', 'YuGothic', 'Yu Gothic', 'メイリオ', 'Meiryo', 'Osaka', 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', 'ヒラギノ角ゴシック', 'Hiragino Sans', fantasy;
}

.top a{
    text-decoration:underline;
}

.top {
    text-align: center;
    font: 16px 'YuGothic', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', 'ヒラギノ角ゴシック', 'Hiragino Sans', 'メイリオ', 'Meiryo', sans-serif;
}

a:link, a:visited {
    color: #222;
}

a:hover {
    color: #ffcccc;
}

a:active {
    color: #222;
}

footer a:link, footer a:visited {
    color: white;
}

footer a:hover {
    color: #999;
}

.credittitle {
    border-left: solid thick red;
    padding: 10px;
}

/*3本線アイコン*/

#humberger {
    position: relative;
    height: 46px;
    width: 46px;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #222;
    border-radius: 4px;
}

/*3本線アイコンの中の線*/

#humberger div {
    position: absolute;
    left: 7px;
    height: 2px;
    width: 28px;
    background-color: #222;
    display: inline-block;
    box-sizing: border-box;
}

/*上の線*/

#humberger div:nth-of-type(1) {
    bottom: 30px;
}

/*中の線*/

#humberger div:nth-of-type(2) {
    bottom: 20px;
}

/*下の線*/

#humberger div:nth-of-type(3) {
    bottom: 10px;
}

main {
    padding: 20px 15%;
    font: 16px 'YuGothic', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', 'ヒラギノ角ゴシック', 'Hiragino Sans', 'メイリオ', 'Meiryo', sans-serif;
}

main li {
    padding-left: 5%;
}

footer {
    text-align: center;
    color: white;
    background-color: #333;
}